<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <form action="/send-mail" method="post">
    <label>EMAIL</label>
    <input type="email" placeholder="enter email" name="email">
    <button>Submit</button>
</body>

</html>