<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/" method="post">
      <label>EMAIL</label>
      <input type="email" placeholder="enter email" name="email">
      <a href="/sentmail">Submit</a>
  </body>
</html>
